/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
    max-height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.swiper-comments, .swiper-gallery, .swiper-doctor {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-pagination-bullet {
    background-color: rgb(147, 217, 249);
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet-active {
    background-color: rgb(61, 183, 230);
    width: 24px;
    height: 24px;
}

.swiper-button-prev, .swiper-button-next {
    position: static;
    margin-top: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 48px !important;
    min-height: 48px !important;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    --swiper-navigation-size: 20px;
}

.swiper-button-next {
    background-color: #3AB8EE;
    border-radius: 8px;
}

.swiper-button-prev {
    background-color: #1D8F38;
}

.swiper-comments .swiper-wrapper .swiper-slide {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 320px;
}

.swiper-gallery .swiper-wrapper .swiper-slide {
    width: 33%;
}

.swiper-comments > .swiper__header > .my--pagination {
    display: none;
}

@media (max-width: 1500px) {
    .swiper-comments .swiper-wrapper .swiper-slide {
        height: 380px;
    }
}

@media (max-width: 920px) {
    .swiper-comments .swiper-wrapper .swiper-slide {
        height: 460px;
    }
}

@media (min-width: 850px) {
    .gallery--pagination {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-my__wrapper > .swiper__header > .my--pagination {
        display: block;
        position: static;
    }
}

@media (max-width: 800px) {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: static !important;
    }

    .swiper-pagination-bullet {
        width: 17px;
        height: 17px;
    }

    .swiper-pagination-bullet-active {
        width: 25px;
        height: 25px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        margin-right: 20px;
    }

    .swiper-pagination .swiper-pagination-bullet:last-of-type {
        margin-right: 0;
    }
}